*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}


    /* Landing Screen Styling */


.landingHeader{
    display: flex;
    justify-content: space-around;
    
}

.landingScreenTitle{
    font-family: 'Press Start 2P', cursive;
    color: rgb(22, 22, 77);
    margin-top: 150px;
    font-size: 10pt;
}

input{
    border-radius: 3px;
    border: 2px solid rgb(22, 22, 77);
    
}

.fa-gamepad{
    font-size:17pt;
    padding-left: 10px;
    color: rgb(22, 22, 77);
   
}

.fa.fa-search{
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.fa-search:active{
    color:rgb(22, 22, 77);
}

.searchButton{
    border-radius: 10px;
    margin-left: 2px;
    height: 30px;
    background-color:rgb(22, 22, 77);
    border: none;
    width: 40px;
}

#gameSearch{
    display: flex;
    justify-content: center;
    
}

.gameInput{
    width: 195px;
    font-size: 10pt;
    margin-right: 5px;
    padding-left: 3px;
}

.numberInput{
    font-size: 10pt;
   text-align: center;
   width: 35px;
}

.footer{
    height: 30px;
    bottom: 0px;
    background-color: rgb(22, 22, 77);
    width: 100%;
    position: fixed;
    margin-left: -8px;
}

.footerText{
    font-size: 6pt;
    color: rgba(255, 255, 255, 0.651);
    padding-bottom: 10px;
    text-align: center;
}

    /* Results Page Stylings */

.resultImg{
    width: 220px;
     border-radius: 4px;
    border: 2px solid rgb(22, 22, 77);
    margin-left: -5px;
  }
  
  .results{
    text-align: center;
  }
  
  .searchResult{
    border-bottom: 2px solid rgb(22, 22, 77);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    }

    .space{
        margin-top: 70px;
    }

    
    .smaller{
        font-family: 'Press Start 2P', cursive;
        color: rgb(22, 22, 77);
        margin-top: 25px; 
        font-size: 10px;
    }

    #gamepadSmall{
        font-size: 12pt;
        padding-left: 10px;
        color: rgb(22, 22, 77);
    }

    #gameSearchSmall{
        margin-bottom:20px;
        display: flex;
        justify-content: center;
    
    }

    .gameInputSmall{
        font-size: 9pt;
        width: 155px;
        margin-right: 5px;
        padding-left: 3px;
    }

    .numberInputSmall{
        text-align: center;
        font-size: 9pt; 
        width: 28px;
    }

    .searchButtonSmall{
        margin-top: 1px;
        border-radius: 6px; 
        
        background-color:rgb(22, 22, 77);
        border: none;
        margin-left: 2px;
        
    }

    .fa.fa-search#searchIconSmall{
        font-size: 14px;
        padding: 1px;
    }

    .gameName{
        font-family: 'Press Start 2P', cursive;
        font-weight: bold;
        letter-spacing: 0.5px;
        line-height: 1.5;
        font-size: 13px;
        color: rgb(22, 22, 77);
    }

    p.genres{
        font-size: 12px;
        font-weight: bold;
    }

    .moreInfo{
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        font-size: 9pt;
        height: 28px;
        background-color:rgb(22, 22, 77);
        border: none;
        color: white;
        margin-bottom: 20px;
    }



    .moreResults{
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        font-size: 11pt;
        height: 32px;
        background-color:rgb(22, 22, 77);
        border: none;
        color: white;
        
        
    }

    button:active{
        background-color: white;
        color: rgb(22, 22, 77);
        border: 1px solid rgb(22, 22, 77);
    }

    button:hover{
        cursor: pointer;
        background-color:  rgb(33, 33, 190);
    }

    /* More Info Screen Stylings */

    .backButton{
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        font-size: 12pt;
        height: 29px;
        background-color:rgb(22, 22, 77);
        border: none;
        color: white;
        margin-bottom: 25px;
    }

    .infoPic{
        width: 250px;
        border-radius: 4px;
        border: 2px solid rgb(22, 22, 77);
    }

    .gameInfoName{
        font-family: 'Press Start 2P', cursive;
        font-size: 12pt;
        color: rgb(22, 22, 77);
        margin-bottom: 15px;
        
    }

    .gameVid{
        width: 275px;
        height: 206px;
        border-radius: 4px;
        border: 3px solid rgb(22, 22, 77);
        margin-bottom: 20px;
    }

    .description{
        font-size: 8pt;
        text-align: left;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 5px;
        margin-left: 25px;
        line-height: 1.7;
        margin-right: 25px;
        border-top: 2px solid rgb(22, 22, 77);
        border-bottom: 2px solid rgb(22, 22, 77);
    }

    .descriptionHead{
        margin-top:20px;
        margin-bottom: 20px;
        font-family: 'Press Start 2P', cursive;
        font-size: 10pt;
        color: rgb(22, 22, 77);
    }

    

    .likeGameLabel{
        font-family: 'Press Start 2P', cursive;
        color: rgb(22, 22, 77);
        font-size: 6pt;
        margin-left: 10px;
        margin-right: 10px;
    }

    .moreGameButton{
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        font-size: 9pt;
        height: 27px;
        background-color:rgb(22, 22, 77);
        border: none;
        color: white;
        margin-bottom: 25px;
    }

    .moreGameNum{
        padding-left: 9px;
        font-size: 9pt;
        width: 29px;
    }

    .gameInfo{
        margin-top: 20px;
        text-align: left;
        margin-left: auto;
        margin-right: 30px;
        
    }

    .infoListItem{
        font-family: 'Press Start 2P', cursive;
        color: rgb(22, 22, 77);
        font-size: 9pt;
        padding-bottom: 10px;
    }

    .listAPI{
        font-family: 'Press Start 2P', cursive;
        color: black;
        font-size: 9pt;
        padding-bottom: 10px;
        padding-top: 15px;
        line-height: 1.7;
    }

    .storeLinks{
        margin-right: 30px;
        text-align: left;
        
    }

    .storeList{
        font-family: 'Press Start 2P', cursive;
        color: rgb(22, 22, 77);
        font-size: 9pt;
        text-align: left;
        
    }
    .link{
        display:inline;
        margin-right: 8px;
        
    }

    .fa-steam, .fa-xbox, .fa-google-play, .fa-playstation, .fa-xbox{
        font-size: 36px;
    }
    .fa-apple{
        font-size: 40px;
    }

    .meta{
        padding-left:3px;
        padding-right: 3px;
        font-size: 12pt;
    }

    .nintendo1{
         
        display:inline-block; 
        border-radius: 6px;
        
    }

    .nintendo2{
        font-size: 16px;
        color: white;
        font-family: sans-serif;
        background-color: red; 
        border: 1px solid white;
        border-radius: 60px;
        padding:3px;
    }


    @media screen and (min-width: 600px){
        .gameInfo{
            text-align: center;
        }
        .storeLinks{
            text-align: center;
        }
    }

    /* Media Query for Tablets */

    @media screen and (min-width: 700px){
        
        .landingScreenTitle{
            
            margin-top: 250px;
            font-size: 16pt;
        }

        .fa-gamepad{
            font-size:24pt;
            padding-left: 12px;
        }

        .fa.fa-search{
            font-size: 22px;
            
        }

        .searchButton{
            height: 45px;
            width: 55px;
        }

        .gameInput{
            font-size: 16pt;
            width: 350px;
            padding-left: 5px;
        }

        .numberInput{
            font-size: 16pt;
            width: 55px;
            padding: 3px;
            padding-left: 4px;
        }

        .footer{
            height: 45px;
        }

        .footerText{
            font-size: 9pt;
        }

        .smaller{
            font-size:13pt;
        }
        
        #gamepadSmall{
            font-size: 21pt;
        }
        
        .numberInputSmall.numberInput{
            font-size: 11pt;
            width:40px;
            padding-left: 5px;
        }

        .gameInputSmall.gameInput{
            font-size:11pt;
            width: 250px;
            padding-left: 3px;
            
        }

        .fa.fa-search#searchIconSmall{
            font-size: 18pt;
        }

        .searchButtonSmall{
            height: 35px;
            width: 45px;
        }

        .resultImg{
            width: 300px;
        }

        .gameName{
            font-size: 13pt;
        }

        p.genres{
            font-size: 12pt;
        }

        .moreInfo{
            font-size: 11pt;
            height:38px;
        }

        .moreResults{
            font-size: 14pt;
            height: 40px;
        }

        .backButton{
            
            margin-top: 15px;
            font-size: 14pt;
            height:42px;
        }

        .gameInfoName{
            font-size: 17pt;
        }

        .infoPic{
            width: 380px;
        }

        .descriptionHead{
            font-size: 14pt;
        }

        .description{
            width: 75%;
            margin-bottom: 40px;
            font-size: 11pt;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            padding-top: 22px;
            padding-bottom: 22px;
        }

        .gameInfo li{
            margin-bottom: 15px;
        }

        .infoListItem{
            font-size: 13pt;
        }

        .listAPI{
            font-size: 13pt;
        }

        .meta{
            font-size: 16pt;
        }

        .storeList{
            padding-top: 35px;
            padding-bottom: 20px;
            font-size:12pt;
        }

        .fa-steam, .fa-xbox, .fa-google-play, .fa-playstation, .fa-xbox{
            font-size: 50px;
        }
        .fa-apple{
            font-size: 56px;
        }

        .storeLinks li{
            padding-right: 12px;
        }

        .gameVid{
            margin-top: 50px;
            width: 500px;
            height: 375px;
            margin-bottom: 35px;
        }
    

        .nintendo2{
        font-size: 24px;
        }

        .likeGameLabel{
            font-size: 13pt;
            margin-bottom: 15px;
        }

        .moreGameNum{
            
            width: 36px;
            font-size: 14pt;
        }

        .moreGameButton{
            margin-top: 20px;
            font-size: 15pt;
            height: 36px;
        }
    }

    /* Media Query for Computer Screens */
    
    @media screen and (min-width: 1050px){
        .landingScreenTitle{
            
            margin-top: 275px;
            font-size: 22pt;
        }

        .fa-gamepad{
            font-size:34pt;
            padding-left: 14px;
        }

        .fa.fa-search{
            font-size: 24px;
            
        }

        .searchButton{
            height: 50px;
            width: 60px;
        }

        .gameInput{
            font-size: 17pt;
            width: 440px;
            padding-left: 10px;
        }

        .numberInput{
            font-size: 17pt;
            width: 60px;
            padding: 3px;
            padding-left: 4px;
        }


        .smaller{
            font-size:14pt;
        }
        
        #gamepadSmall{
            font-size: 26pt;
        }
        
        .numberInputSmall.numberInput{
            font-size: 12pt;
            width:44px;
            padding-left: 5px;
        }

        .gameInputSmall.gameInput{
            font-size:12pt;
            width: 275px;
            padding-left: 3px;
            
        }

        .fa.fa-search#searchIconSmall{
            font-size: 18pt;
        }

        .searchButtonSmall{
            height: 35px;
            width: 45px;
        }

        .resultImg{
            width: 400px;
            
           
        }
        
        .searchResult{
            width: 40%;
        }

        .gameName{
            
            font-size: 14pt;
            
        }

        p.genres{
            font-size: 13pt;
            
        }

        .moreInfo{
            
            font-size: 12pt;
            height:42px;
        }

        
        .moreResults{
            margin-top: 100px;
            font-size: 15pt;
            height: 43px;
            

        }

        .infoPic{
            width: 410px;
        }

        .description{
            font-size: 12pt;
            width: 50%;
        }

        .moreGameNum{
            width: 45px;
        }

        .gameInfoName{
            font-size: 20pt;
        }

        .descriptionHead{
            font-size: 16pt;
        }

        .backButton{
            font-size: 16pt;
            height: 45px;
        }
    }